[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 117090588+elpeque29@users.noreply.github.com
	name = elpeque29
[core]
	autocrlf = input
	compression = 0
